<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test-method Suite" parallel="classes" thread-count="2">
	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
	</listeners>
	<test name="Regression">
		<classes>
			<class name="org.mps.degruyter.common.TestCasesRunner" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
